[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pandas = "*"
lxml = "*"
streamlit = "*"
altair = "*"
streamlit-aggrid = "*"
streamlit-analytics = "*"
html5lib = "*"
numpy = "*"
pygithub = "*"
"plotly.express" = "*"
streamlit-plotly-events = "*"
flake8-docstrings = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"
flake8 = "*"

[requires]
python_version = "3.10"
